@media screen and (max-width: 1068px) {
    .table_br-first {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    /* Header */
    /* Header SVG */
    .custom-shape-divider-bottom-1637742654 svg {
        height: 100px;
    }

    /* navbar */
    .navbar {
        padding-top: 0;
    }
    .wrap_navbar_menu {
        max-width: 1024px;
        min-width: 240px;
        flex-direction: column;
        align-items: flex-start;
        padding: 32px 48px 0;
    }
    .navbar_toggle {
        display: block;
        right: 48px;
    }
    .navbar_inner {
        flex-direction: column;
    }
    .navbar_menu {
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
        width: 100%;
        display: none;
        margin-top: 0;
        margin-left: 0;
    }
    .navbar_menu.open {
        display: block;
    }
    .navbar_menu-item {
        line-height: 3rem;
        width: 100%;
    }

    /* section */
    .section_inner {
        max-width: 1024px;
        min-width: 240px;
    }

    /* our services */
    .shortcut_description.pc {
        display: none;
    }
    .shortcut_description.mobile {
        display: block;
    }
    .shortcut_description {
        margin: 20px 0 40px;
    }
    .shortcut_bg {
        height: 430px;
    }

    /* footer */
    .footer_inner {
        max-width: 1024px;
        min-width: 240px;
    }
    .company_info {
        flex-direction: column;
    }
    .wrap_footer_top {
        padding-top: 8px;
        width: 70%;
    }
    .footer_logo img {
        padding-top: 0;
    }
    .footer_top, .wrap_footer_top {
        align-items: flex-start;
    }

    /* our Story */
    #ourStory .wrap_news {
    display: inline-block;
    position: unset;
    width: calc((100% / 2) - 20px);
    box-sizing: border-box;
    opacity: 1;
    margin-right: 30px;
    }
    
    #ourStory .wrap_news:nth-child(3n) {
        margin-right: 30px;
        margin-bottom: 0;
    }
    #ourStory .wrap_news:nth-child(2n) {
        margin-right: 0;
        margin-bottom: 40px;
    }
    #ourStory .wrap_new:last-child {
        margin-bottom: 0;
    }
    #ourStory .news_data {
        -webkit-line-clamp: 2;
    }
    #ourStory .wrap_news_item {
        height: 296px;
    }
    #bo_gall #gall_ul {
        width: 100%;
        max-width: unset;
        min-width: unset;
    }
    #bo_gall .gall_li {
        display: inline-block;
        width: calc((100% / 3) - 4px);
        box-sizing: border-box;
        font-size: 0;
    }
    /* #ourStoryMedia a {
        display: inline-block;
        width: calc((100% / 3) - 30px);
        box-sizing: border-box;
        font-size: 0;
        margin-right: 40px;
    }
    #ourStoryMedia a:nth-child(4n) {
        margin-right: 40px;
        margin-bottom: 0;
    }
    #ourStoryMedia a:nth-child(3n) {
        margin-right: 0;
        margin-bottom: 60px;
    }
    #ourStoryMedia a:last-child {
        margin-bottom: 0;
    } */
}

@media screen and (max-width: 986px) {
    /* Roop */
    :root {
        /* Font size */
        --font-header: 30px;
        --font-large: ;
        --font-medium: 24px;
        --font-medium-en: 22px;
        --font-regular: 20px;
        --font-regular-en: 22px;
        --font-small: 16px;
        --font-micro: 16px;
    }

    /* Header */
    .header_inner {
        padding: 32px;
    }
    .slogan {
        margin-top: 200px;
    }
    .header_bg {
        height: 640px;
    }
    /* Header SVG */
    .custom-shape-divider-bottom-1637742654 svg {
        height: 80px;
    }

    /* navbar */
    .wrap_navbar_menu {
        padding: 32px 32px 0;
    }
    .navbar_menu-item {
        padding: 10px 0;
    }
    .navbar_toggle {
        right: 32px;
    }

    /* section */
    .section_inner, #media .section_inner, #partnership .section_inner {
        padding: 80px 32px 100px;
    }

    /* our services */
    #shortcut .section_inner {
        margin-top: 180px;
    }
    .shortcut-item {
        padding: 24px;
    }

    /* news */
    .news_container {
        height: 400px;
    }
    .news_data {
        -webkit-line-clamp: 5;
        margin-bottom: 22px;
    }
    .news_date {
        font-size: 13px;
        color: rgb(var(--color-secondary));
    }
    .wrap_news_img {
        width: 600px;
        height: 400px;
    }
    .wrap_news_item, .news_item, .news_item-hover {
        width: 400px;
        height: 400px;
    }
    .news_item, .news_item-hover {
        padding: 36px;
    }
    .news_categories {
        margin-bottom: 24px;
    }
    .news_tit {
        margin-bottom: 18px;
    }

    /* partnership */
    .wrap_logos {
        height: 120px;
    }
    .wrap_logos img {
        width: 120px;
    }

    /* footer */
    footer {
        padding: 0 32px;
    }
    .wrap_ft_shortcut, .wrap_ft_shortcut a {
        font-size: 13px;
    }

    /* introduce */
    #introduce .table_tit {
        width: 174px;
    }
    #introduce .section_inner {
        margin-top: 165px;
    }

    #ourServices .section_inner {
        margin-top: 197px;
    }
    .business_part_container:not(:last-child) {
        margin-bottom: 60px;
    }

    .business_part_sub_tit {
        line-height: 1.6rem;
    }

    #ourStory .news_tit {
        line-height: 2.3rem;
    }
    #ourStory .wrap_news_item {
        height: 286px;
    }
}

@media screen and (max-width: 877px) {
    /* Introduce */
    .introduce_container {
        display: none;
    }
    .introduce_container.mobile {
        display: block;
    }
    
    #introduce .table_tit {
        width: 100%;
    }
    .table_subtit a {
        right: 0;
        font-size: 14px;
    }
    .table_subtit a::after {
        width: 114px;
    }
    #introduce table:last-child td:nth-last-child(-n+2) {
        border-bottom: 0;
    }
    .table_border-bottom {
        border-bottom: 1px solid rgba(var(--color-gray-light), .6);
    }
}

@media screen and (max-width: 860px) {
    /* our services */
    .shortcut_container {
        display: block;
    }
    .wrap_shortcut {
        width: 100%;
    }
    .shortcut_bg-img.energy {
        background: center/cover no-repeat url(../img/tms_shortcut_energy_mo.png);
    }
    .shortcut_bg-img.interior {
        background: center/cover no-repeat url(../img/tms_shortcut_interior_mo.png);
    }
    .shortcut_description.pc {
        display: block;
    }
    .shortcut_description.mobile {
        display: none;
    }
    .shortcut_description br {
        display: none;
    }
    .shortcut-item {
        padding: 32px;
    }
    .shortcut_bg {
        height: 400px;
    }
}

@media screen and (max-width: 830px) {
    .business_part-img img {
        width: unset;
        height: 100%;
    }
}
@media screen and (max-width: 768px) {
    .ourStory_btns {
        margin-bottom: 56px;
    }
    #ourStory .wrap_news {
        width: calc((100% /2) - 10px);
        margin-right: 20px;
    }
    #ourStory .wrap_news:nth-child(3n) {
        margin-right: 20px;
        margin-bottom: 0;
    }
    
    #ourStory .wrap_news:nth-child(2n) {
        margin-right: 0;
        margin-bottom: 30px;
    }
    #ourStory .wrap_new:last-child {
        margin-bottom: 0;
    }
    
    /* #ourStoryMedia a {
        display: inline-block;
        width: calc((100% / 3) - 10px);
        box-sizing: border-box;
        font-size: 0;
        margin-right: 10px;
    }
    #ourStoryMedia a:nth-child(4n) {
        margin-right: 10px;
        margin-bottom: 0;
    }
    #ourStoryMedia a:nth-child(3n) {
        margin-right: 0;
        margin-bottom: 60px;
    }
    #ourStoryMedia a:last-child {
        margin-bottom: 0;
    } */
    #ourStory .news_item {
        padding: 28px 24px;
    }
    #ourStory .wrap_news_item {
        height: 278px;
    }
}

@media screen and (max-width: 720px) {
    /* aur services */
    .business_part_container {
        display: block;
        height: unset;
    }
    .business_part-img {
        width: 100%; 
        height: 250px;
    }
    .business_part-img img {
        width: 100%;
        height: unset;
    }
    .wrap_business_part {
        position: relative;
        width: unset;
    }
    .business_part_container:not(:last-child) {
        margin-bottom: 40px;
    }

    .wrap_business_part {
        padding: 32px;
    }
    .business_part-deco {
        width: 40px;
        top: 36px;
        left: -20px;
    }
    .business_part_container:nth-child(2n) .business_part-deco {
        right: unset;
        left: -20px;
    }
    .business_part-hover {
        margin-top: 50px;
    }
    .business_part-deco {
        display: none;
    }
    .business_part_description br {
        display: none;
    }
}

@media screen and (max-width: 760px) {
    /* news */
    .wrap_news {
        display: block;
    }
    .news_container {
        height: 800px;
    }
    .wrap_news_item, .news_item, .news_item-hover {
        width: 100%;
    }
    .news_item, .news_item-hover {
        margin-top: 0;
    }
    .wrap_news_item {
        position: unset;
    }
    .wrap_news_img {
        width: 100%;
        height: 400px;
    }
    .news_img {
        width: 100%;
        min-width: 660px;
        height: 100%;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    #ourStory .news_img {
        width: unset;
        min-width: unset;
    }

    /* footer */
    .footer_top {
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .wrap_footer_top {
        padding-top: 12px;
        width: unset;
        flex-direction: column-reverse;
    }
    .footer_top, .wrap_footer_top {
        align-items: center;
    }
    .company_info {
        margin-top: 20px;
    }
    .company_info p {
        margin-right: 0;
    }
    .footer_bottom {
        flex-direction: column;
        text-align: center;
    }
    .wrap_sns {
        margin-top: 20px;
    }
}
@media screen and (max-width: 680px) {
    #ourStory .wrap_news {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    #ourStory .wrap_news:nth-child(3n) {
        margin-right: 0;
        margin-bottom: 30px;
    }
    #ourStory .wrap_new:last-child {
        margin-bottom: 0;
    }
    #ourStory .news_img {
        width: 100%;
    }

    #bo_gall .gall_li {
        display: inline-block;
        width: calc((100% / 2) - 3px);
        box-sizing: border-box;
        font-size: 0;
    }
    /* #ourStoryMedia a {
        display: inline-block;
        width: calc((100% / 2) - 15px);
        box-sizing: border-box;
        font-size: 0;
        margin-right: 30px;
    }
    #ourStoryMedia a:nth-child(3n) {
        margin-right: 30px;
        margin-bottom: 0;
    }
    #ourStoryMedia a:nth-child(2n) {
        margin-right: 0;
        margin-bottom: 30px;
    }
    #ourStoryMedia a:last-child {
        margin-bottom: 0;
    } */
}

@media screen and (max-width: 600px) {
    .section_inner, #media .section_inner, #partnership .section_inner {
        padding: 80px 24px;
    }
    .shortcut-item {
        padding: 24px;
    }
    footer {
        padding: 0 24px;
    }
    .header_inner {
        padding: 24px;
    }
    .wrap_navbar_menu {
        padding: 24px 24px 0;
    }
    .navbar_toggle {
        top: 30px;
        right: 24px;
    }
    .slogan {
        margin-top: 180px;
    }
    .header_bg {
        height: 580px;
    }
    #shortcut .section_inner {
        margin-top: 160px;
    }
    .news_item, .news_item-hover {
        padding: 36px 24px;
    }
    .wrap_news_img {
        height: 340px;
    }
    .news_img {
        min-width: 560px;
    }
    .news_container {
        height: 740px;
    }

    #introduce .section_inner {
        margin-top: 145px;
    }

    #ourServices .section_inner {
        margin-top: 177px;
    }
    .wrap_business_part {
        padding: 32px 24px;
    }
    .btn_arrow-up {
        bottom: 24px;
        right: 24px;
    }
}
@media screen and (max-width: 540px) {
    .slogan {
        margin-top: 140px;
    }
    .slogan_br {
        display: block;
    }
    .slogan_br.ourServices {
        display: none;
    }
    .header_bg {
        height: 560px;
    }
    #shortcut .section_inner {
        margin-top: 140px;
    }
    #introduce .section_inner {
        margin-top: 125px;
    }
    #introduce .section_inner {
        margin-top: 105px;
    }
    #ourServices .section_inner {
        margin-top: 182px;
    }
}

@media screen and (max-width: 520px) {
    /* our services */
    .shortcut_description br {
        display: block;
    }

    #bo_gall #gall_ul {
        text-align: center;
    }
    #bo_gall .gall_li {
        display: inline-block;
        width: 100%;
        max-width: 300px;
        box-sizing: border-box;
        font-size: 0;
    }
    #bo_gall .gall_box {
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 490px) {
    br.bp_br_first {
        display: block;
    }

    #ourStory .news_img {
        width: unset;
        height: 100%;
    }
}

@media screen and (max-width: 460px) {
    .slogan_br.ourServices {
        display: block;
    }
    #ourServices .section_inner {
        margin-top: 138px;
    }
}

@media screen and (max-width: 440px) {
    .business_part-img img {
        width: unset;
        height: 100%;
    }
}

@media screen and (max-width: 430px) {
    /* Roop */
    :root {
        /* Font size */
        --font-header: 28px;
    }

    .slogan_inner p, .news_tit {
        line-height: 2.6rem;
    }
    #shortcut .section_inner {
        margin-top: 150px;
    }

    .news_item-hover p {
        width: unset;
    }
    .news_item, .news_item-hover {
        padding: 32px 24px;
    }
    .news_data {
        -webkit-line-clamp: 4;
    }
    .wrap_news_item, .news_item, .news_item-hover {
        height: 356px;
    }
    .wrap_news_img {
        height: 300px;
    }
    .news_img {
        min-width: 480px;
    }
    .news_container {
        height: 656px;
    } 
    
    #introduce .section_inner {
        margin-top: 115px;
    }
    #ourServices .section_inner {
        margin-top: 148px;
    }
    .ourStory_btns {
        margin-top: 12px;
        margin-bottom: 40px;
    }
    .ourStory_media_container {
        display: flex;
        justify-content: center;
    }

    /* #ourStoryMedia a {
        display: inline-block;
        width: 100%;
        max-width: 300px;
        box-sizing: border-box;
        font-size: 0;
        margin-right: 0;
        margin-bottom: 30px;
    }
    #ourStoryMedia a:nth-child(3n) {
        margin-right: 0;
        margin-bottom: 30px;
    }
    #ourStoryMedia a:nth-child(2n) {
        margin-right: 0;
        margin-bottom: 30px;
    }
    #ourStoryMedia a:last-child {
        margin-bottom: 0;
    } */
}

@media screen and (max-width: 420px) {
    /* our services */
    .shortcut_description.pc {
        display: none;
    }
    .shortcut_description.mobile {
        display: block;
    }
    .shortcut-item {
        padding: 20px;
    }
    .shortcut_bg {
        height: 360px;
    }
    .shortcut_bg-img {
        margin-top: -30px;
    }
    #ourStory .wrap_news_item {
        height: 182px;
    }
    #ourStory .news_item {
        padding: 24px 20px;
    }
    #ourStory .news_categories {
        margin-bottom: 14px;
    }
    #ourStory .news_data {
        display: none;
    }
    .business_part-img {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 400px) {
    br.bp_br_first {
        display: none;

    }
    br.bp_br_secondary {
        display: block;
    }
}

@media screen and (max-width: 375px) {
    .wrap_navbar_menu {
        padding: 16px 16px 0;
    }
    .navbar_toggle {
        top: 24px;
        right: 16px;
    }
    .header_inner {
        padding: 24px 16px;
    }
    .section_inner, #media .section_inner, #partnership .section_inner {
        padding: 60px 16px;
    }
    footer {
        padding: 0 16px;
    }
    .btn_arrow-up {
        bottom: 16px;
        right: 16px;
    }
}

@media screen and (max-width: 360px) {
    .copyrt {
        line-height: 1.2rem;
    }
    .copyrt br {
        display: block;
    }
    
    br.bp_br_third {
        display: block;
    }
}

@media screen and (max-width: 330px) {
    /* Roop */
    :root {
        /* Font size */
        --font-header: 26px;
    }

    .slogan_inner p, .news_tit {
        line-height: 2.4rem;
    }
    #shortcut .section_inner {
        margin-top: 160px;
    }
    
    #introduce .section_inner {
        margin-top: 125px;
    }
    #ourServices .section_inner {
        margin-top: 158px;
    }
}

@media screen and (max-width: 322px) {
    #introduce .section_inner {
        margin-top: 95px;
    }
    .ourStory_btns {
        margin-top: 20px;
    }
}